body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* REUSABLE STYLES */
.willpeddie-container {
  padding: 50px 5px;
}

/*
 * Check out how the transition property and the :hover pseudo class work together
 * You get a nice smooth fade-in color switch when hovering over the element
 */
.willpeddie-button {
  background-color: #ff5358;
  border-bottom: 2px solid #e00007;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 15px auto;
  text-align: center;
  transition: 0.4s ease-in-out;
  width: 250px;
}

.willpeddie-button:hover {
  background-color: #e00007;
}

.willpeddie-button-text {
  padding: 10px;
}

/*
 * To make the image darker, we have to think about the page in three dimensions
 * We haven't talked about this yet but the position property is very powerful
 * The idea is that we are going to position a dark mask above our image
 * We position this pseudo class before the image so that it sits on top
 * It's given a slightly transparent background using rgba colors
 */

.image-mask-darken {
  position: relative;
}

.image-mask-darken:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}

/* HEADER */
.willpeddie-header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.willpeddie-logo-container {
  width: 150px;
}

.willpeddie-nav {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
}

.willpeddie-logo {
  padding: 100px 30px;
  width: 100px;
}

.willpeddie-nav-element {
  cursor: pointer;
  padding: 10px 30px;
}

/*
 * Check out the use of this pseudo class to get my spacing just right
 * This works because in my HTML, there are two .willpeddie-nav-element divs right next to each other
 */
.willpeddie-nav-element:last-child {
  padding-left: 0;
}

/* HERO */
.willpeddie-main-photo {
  align-items: center;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 550px;
}

/*
 * To get the text to appear above the faded background, we need to position it absolutely
 * This pops it out above the background
 */
.willpeddie-intro-content {
  color: white;
  position: absolute;
  text-align: center;
  width: 400px;
}

.willpeddie-intro-title {
  font-size: 64px;
}

.willpeddie-intro-subtitle {
  font-size: 16px;
}

/* Middle part of page */

/**
 * Notice I'm listing the flex-direction: column; BEFORE the media query
 * This is a mobile-first responsive style
 * You declare as many of the property:value pairs as you need
 * Then you reset the ones you need to modify per screen
 * In our case we want to flip between a single column on mobile, row of items on desktop
 * This is a super familiar pattern in CSS, very common and easy with flexbox
 */
.willpeddie-middle {
  align-items: center;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 550px) {
  .willpeddie-middle {
    flex-direction: row;
  }
}

.willpeddie-middle-box {
  border: 1px solid #dbdbdb;
  width: 96%;
}

@media (min-width: 550px) {
  .willpeddie-middle-box {
    width: 48%;
  }
}

.willpeddie-middle-content-container {
  align-items: center;
  background-color: white;
  display: flex;
  height: 75px;
  padding: 10px;
  justify-content: space-around;
}

.willpeddie-middle-icon {
  padding-right: 12px;
}

.willpeddie-middle-titles {
  background-color: #edefed;
  font-size: 14px;
  padding: 12px 18px;
}

.willpeddie-middle-content {
  line-height: 1.4;
  padding-right: 12px;
}

/* DJ */
.willpeddie-dj-container {
  padding: 50px 5px;
}

.willpeddie-dj-title {
  font-size: 32px;
  text-align: center;
}

.willpeddie-dj-subtitle {
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}

.willpeddie-three-dj-container {
  justify-content: center;
  display: flex;
}

.willpeddie-indiv-dj-container {
  margin: 1%;
  width: 30%;
}

/* Note that here we are doing nested flex boxes */
.willpeddie-indiv-dj-header {
  align-items: center;
  background-position: center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 300px; /* approximate estimate */
  justify-content: space-around;
  text-align: center;
}

/* I added specific classes for the custom background images for each section */
.fitzroy  { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg'); }
.st-kilda { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg'); }
.cbd      { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg');}

/* Again, to achieve darkened image effect, we need to move interior content above the background image */
.willpeddie-indiv-dj-header-content {
  position: absolute;
}

.willpeddie-indiv-dj-title {
  font-size: 24px;
}

.willpeddie-indiv-dj-details {
  background-color: #efefef;
  border: 1px solid #dbdbdb;
  line-height: 1.4;
  margin: 0;
  min-height: 50px; /* makes the detail boxes look uniform */
  padding: 20px;
}

.willpeddie-footer {
  align-items: center;
  background-color: #2B2D2E;
  color: white;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
}

/* Styling horizontal rules requires you give it some height */
hr {
  border: 1px solid rgba(255,255,255,0.2);
  margin-bottom: 40px;
  width: 95%;
}
